<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosso time</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
    <h2 class="title-main">Nosso time</h2>

    <div class="container">
        <ul class="our-team">
            <li>
                <img src="src/img/usuario-1.png" alt="Foto de uma pessoa do time">
                <h3>Elizeu Dias</h3>
                <h4>Dev frontend</h4>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/twitter/twitter-original.svg" />@elizeudias</a>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />@elizeudias</a>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg"/>@elizeudias</a>
            </li>
            <li>
                <img src="src/img/usuario-2.png" alt="Foto de uma pessoa do time">
                <a href="#"></a>
                <h3>Jeffery Erhunse</h3>
                <h4>Dev frontend</h4>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />@jeffery_erhunse</a>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg"/>@jeffery_erhunse</a>
            </li>
            <li>
                <img src="src/img/usuario-3.png" alt="Foto de uma pessoa do time">
                <a href="#"></a>
                <h3>Oladimej Odunsi</h3>
                <h4>DBA</h4>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" />@oladimeji-odunsi</a>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg"/>@oladimeji-odunsi</a>
            </li>
        </ul>
    </div>   
</body>
</html>