<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <title>HOME</title>
</head>

<body>
    <div id="navbar">
        <ul>
            <li id="tarefas">Tarefas</li>
            <li><a href="javascript:void(0);">Home</a></li>
            <li><a href="javascript:void(0);">Sobre nós</a></li>
            <li><a href="javascript:void(0);">Contato</a></li>
            <li id="item-imagem-usuario">
                <img src="images/usuario-1.png" alt="" id="usuario">
            </li>
            <li id="item-usuario">
                <div>
                    <p id="nome-usuario">Eizeu Dias</p>
                    <p id="logout">Fazer logout</p>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>