<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>

    <link rel="stylesheet" href="css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <section id="box-apresentacao">
            <div id="box-apresentacao-content">
                <img src="images/nuvem-small.png" alt="" id="nuvem-pq">
                <img src="images/nuvem.png" alt="" id="nuvem">
                <h2 id="apresentacao">Se inscreva agora e já comece a salvar suas tarefas!</h2>
                <ul type="circle" id="lista">
                    <li id="i1">Falar com a Empresa X</li>
                    <li id="i2">Fazer o pagamento da conta</li>
                    <li id="i3">Responder emails do dia</li>
                    <li id="i4">Lorem ipsum dolor sit amet</li>
                    <li id="i5">Lorem ipsum dolor sit amet</li>
                </ul>
            </div>
        </section>
    </main>
</body>

</html>