* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

#navbar {
    background-color: #6033DF;
}

#navbar ul {
    width: 980px;
    margin: 0 auto;
    background-color: #6033DF;
    height: 80px;
}

#navbar li {
    display: inline-block;
    list-style: none;
    background-color: #6033DF;
    color: #FFFF;
    padding: 0 10px;
    line-height: 80px;
}

#navbar li:last-child {
    float: right;
}

#navbar a {
    text-decoration: none;
    color: #FFFF;
}

#navbar #botao {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-radius: 5px;
    padding: 7px 18px;
    border: 1px solid #fff;
}

#navbar #tarefas {
    font-weight: bold;
}